<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219073360686-5ef5pcrk7ijeopdeq9vpkf7js3rm088p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219073360686-5ef5pcrk7ijeopdeq9vpkf7js3rm088p</string>
	<key>API_KEY</key>
	<string>AIzaSyAlZnigI7P-8sVGnTezw_sRlKJGBWR35rs</string>
	<key>GCM_SENDER_ID</key>
	<string>219073360686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aryan-Tipnis.UMass-Droplet</string>
	<key>PROJECT_ID</key>
	<string>umass-droplet-login</string>
	<key>STORAGE_BUCKET</key>
	<string>umass-droplet-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219073360686:ios:b4f35114b0dc677661c0bf</string>
</dict>
</plist>